/* Réinitialisation des styles */
html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #d7ffcf;
}

.titre {
	text-align: center;
	font-size: 70px;
	font-family: 'Libre Baskerville', serif;
	color: white;
	background-image: url("https://jardincollegeijc.github.io/jardin-college-ijc/ressources/jardin.jpg");
	background-size: auto;
	background-position: center -10px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	text-decoration: none;
}

/* Styles des sous-titres */
.sous-titre {
	font-size: 35px;
	text-decoration: underline;
}

/* Styles des menus */
.menu {
	font-size: 30px;
	display: flex;
	background-color: #228B22;
	border: 5px solid #228B22;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 20px;
}

/* Styles pour les éléments gauche, centre et droite du menu */
.left, .center, .right {
	flex: 1;
	text-align: center;
}

/* Styles des liens dans le menu */
.menu a {
	color: white;
	text-decoration: none;
}

/* Styles des paragraphes */
.paragraphe {
	font-size: 30px;
	margin: 25px;
	margin-top: 5px;
}

/* Styles des images */
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* La case événement */
.event {
	border: 10px solid #228b22;
	border-radius: 10px;
	background-color: #58904d;
	padding: 20px;
	margin: 20px;
}

/* Le chapeau */
.event-chapeau {
	display: inline-block;
	font-size: 40px;
	margin-top: 10px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	text-decoration: none;
}

/* Les dates */
.event-date {
	text-align: start
}